.header {
  background-color: #111440;
  color: white;
  padding: 0px;
  display: flex;
  justify-content: space-between;
  grid-template-columns: none;
  align-items: center; }

.footer {
  background-color: #111440;
  color: white;
  padding: 4rem; }

.ul {
  list-style: none; }

.footer-lista {
  padding: 0px;
  display: grid;
  justify-content: space-between;
  grid-template-columns: 1fr;
  align-items: none; }

.contenedor-footer {
  display: grid;
  grid-template-columns: auto auto; }

.conectate {
  margin: auto; }

.imagen-redes {
  padding: 0.5rem 0.5rem 0.5rem 0rem; }

.seccion {
  background-color: #111440;
  padding-bottom: 10rem; }

a {
  text-decoration: none;
  color: white; }

.body {
  background-color: #D1E7F2; }

.navbar {
  background-color: #A2DCF2;
  color: black; }

.h1 {
  background-color: #D1E7F2;
  color: #111440;
  padding: 4rem;
  display: flex;
  justify-content: center;
  grid-template-columns: none;
  align-items: center; }

body {
  background-color: #D1E7F2; }

.carusel {
  background-color: #D1E7F2;
  width: 100%;
  justify-content: center; }

@media screen and (max-width: 600px) {
  .container {
    height: 80vh;
    display: grid;
    grid-template-areas: "img-1" "img-2" "img-3" "img-4" "img-5";
    justify-content: center;
    margin-bottom: 30px; }
  footer {
    position: fixed;
    bottom: 0;
    width: 100%; } }
