@import "../base/variables";
@import "../base/extends";
@import "../base/mixins";
@import "../base/listas";

.header {
    background-color: $color-mistica;
    color: nth($colores, 4);
    @include header (0px, grid, space-evenly, auto auto auto, center)
    
}

.icono-mistica {
    @include header(0px, grid, none, auto, center )
}

.mi-cuenta-index {
    margin-left: 100rem;
    @include header (none, grid, none, 50fr, center )
    
}