@mixin header ($relleno, $display, $aliniacion, $columnas, $align) {
    padding: $relleno;
    display: $display;
    justify-content: $aliniacion;
    grid-template-columns: $columnas;
    align-items: $align;   
}

@mixin iniciar-sesion ($width, $b-color, $pad, $col) {
    width: $width;
    background-color: $b-color;
    padding: $pad;
    color: $col;
}