@mixin header ($relleno, $display, $aliniacion, $columnas, $align) {
    padding: $relleno;
    display: $display;
    justify-content: $aliniacion;
    grid-template-columns: $columnas;
    align-items: $align;   
}